<% content_for :thead do %>
  <th>#</th>
  <th>Title</th>
  <th>Score</th>
  <th>Instructor</th>
<% end %>

<% content_for :tbody do %>
  <% @collection.each do |assign| %>
    <tr>
      <td>
        <%= assign.id %>
      </td>
      <td>
        <%= link_to view_assignment_path(assign.id) do %>
          <%= assign.authorable_assignment.title %>
        <% end %>
      </td>
      <td>
        <%= score(assign) %>
      </td>
      <td>
        <%= assign.authorable_assignment.user.name %>
      </td>
    </tr>
  <% end %>
<% end %>
