<%= form_for @auth_problem, url: @submit_url do |f| %>
  <div class="form-group">
    <%= f.label "Problem" %>
    <%= f.text_area :problem_text, rows: 3, autofocus: true, class: "form-control" %>
  </div>
  
  <div id="paper"></div>
  
  <%= f.submit @submit_text, class: "btn btn-primary" %>
<% end %>

<%= javascript_include_tag "diagram" %>
