<%= link_to new_auth_problem_path, class: "btn btn-default" do %>
  <span class="glyphicon glyphicon-file"></span> New problem
<% end %>

<% if @auth_problems.empty? %>
  <p>There are no authorable problems to display.</p>
<% else %>
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Problem</th>
        <th>Author</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @auth_problems.each do |auth_problem| %>
      <tr>
        <td><%= auth_problem.id %></td>
        <td><%= auth_problem.problem_text %></td>
        <td><%= auth_problem.user.name %></td>
        <td>
          <%= link_to edit_problem_path(id: auth_problem.id) do %>
            <span class="glyphicon glyphicon-pencil"></span>
          <% end %>
        </td>
        <td>
          <%= link_to delete_auth_problem_path(id: auth_problem.id), method: :delete do %>
            <span class="glyphicon glyphicon-trash"></span>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
