<% content_for :thead do %>
  <th>#</th>
  <th>Problem</th>
  <th>Author</th>
  <th></th>
  <th></th>
<% end %>

<% content_for :tbody do %>
  <% @collection.each do |auth_prob| %>
    <tr>
      <td><%= auth_prob.id %></td>
      <td><%= auth_prob.problem_text %></td>
      <td><%= auth_prob.user.name %></td>
      <td>
        <%= link_to edit_problem_path(id: auth_prob.id) do %>
          <span class="glyphicon glyphicon-pencil"></span>
        <% end %>
      </td>
      <td>
        <%= link_to delete_auth_problem_path(id: auth_prob.id), method: :delete do %>
          <span class="glyphicon glyphicon-trash"></span>
        <% end %>
      </td>
    </tr>
  <% end %>
<% end %>
