<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= @title or 'bluprint' %>
    </title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <% if user_signed_in? %>
      <%= nav_bar fixed: :top, brand: 'bluprint', responsive: true do %>

        <%= menu_group do %>

          <%= menu_item 'My Assignments', my_assignments_path %>

          <% if current_user.instructor? || current_user.administrator? %>
            <%= menu_item 'My Students', my_students_path %>
            <%= drop_down 'Author' do %>
              <%= menu_item 'Assignments', author_assignments_path %>
              <%= menu_item 'Problems', author_problems_path %>
            <% end %>
          <% end %>

          <% if current_user.administrator? %>
            <%= drop_down 'Manage' do %>
              <%= menu_item 'Assignments', '/manage/assignments' %>
              <%= menu_item 'Problems', '/manage/problems' %>
              <%= menu_item 'Students', manage_students_path %>
              <%= menu_item 'Instructors', manage_instructors_path %>
            <% end %>
          <% end %>
        <% end %>

        <%= menu_group pull: :right do %>
          <%= menu_item 'My Account', '/my/account' %>
          <%= menu_item 'Log Out', destroy_user_session_path, method: :delete %>
        <% end %>

      <% end %>
    <% end %>

    <div class="content-container">
      <% if flash.any? %>
        <div class="text-center">
        <% flash.each do |name, message| %>
            <div class="alert alert-<%= name %> alert-dismissible fade in">
              <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
              </button>
              <%= message %>
            </div>

        <% end %>
        </div>
      <% end %>

      <% if @title %>
        <div class="page-header">
          <h3>
            <%= @title %>
          </h3>

          <%= yield :buttons %>
        </div>
      <% end %>

      <%= content_for?(:content) ? yield(:content) : yield %>
    </div>
  </body>
</html>
